*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 600vh;
}
.head{
    width: 100%;
    height: 100px;
    background-color: red;
}
.body{
    width: 100%;
    height: 60px;
    background-color: aqua;
}