*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
/* {
    text-align: center;
    width: 20%;
    background-color: aqua;
    height: 15vh;
} */
#text{
    font-size: 20px;
}