*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tb{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.tb th{
    height: 27px;
    text-align: center;
}
.tb td{
    height: 27px;
    text-align: center;
}